.navAdminHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
  border-radius: 16px;
  background-color: white;
  padding: 0 clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
}
