.addAds {
  margin-top: 20px;
  border-radius: 1rem;
  background-color: white;
  padding: 25px clamp(1.25rem, 0.938rem + 1.56vw, 1.875rem);
  max-width: 100%;
}
.title {
  margin-top: 65px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-lk_title);
  line-height: 130%;
}
.back {
  display: flex;
  align-items: center;
  font-weight: var(--fw-bold);
  line-height: 24px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: clamp(4.375rem, 4.125rem + 1.25vw, 5.625rem);
}
.button:active {
  transform: scale(0.95); /* Продавливание */
}
.button:last-child {
  text-decoration-line: underline;
}
